### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar
/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.build/
xcuserdata/
Package.swift

### Project ###
/docs
/.kotlin/

### CI ###
tmp-atproto/
