name: CI

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:

jobs:
  check-bluesky:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Check APIs
        run: ./gradlew clean apiCheck --no-daemon --stacktrace

  check-android:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Assemble Android
        run: ./gradlew clean :app:android:assemble --no-daemon --stacktrace

  check-ios:
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Assemble iOS
        uses: mxcl/xcodebuild@v3
        with:
          platform: iOS
          action: build
          scheme: ozone
          configuration: debug
          working-directory: app/iosApp/

      - name: Test iOS
        run: ./gradlew clean :bluesky:iosSimulatorArm64Test --no-daemon --stacktrace

  check-js:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Test JS
        run: ./gradlew clean :bluesky:jsTest :app:web:assemble --no-daemon --stacktrace

  check-jvm:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Test JVM
        run: ./gradlew clean :bluesky:jvmTest :app:desktop:assemble --no-daemon --stacktrace
