name: Update Lexicons

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-lexicons:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Clone ATProto Repository
        uses: actions/checkout@v3
        with:
          repository: bluesky-social/atproto
          path: tmp-atproto

      - name: Overwrite Lexicons
        run: |
          rm -rf lexicons/schemas
          cp -R tmp-atproto/lexicons lexicons/schemas

      - name: Get Changed Files
        uses: tj-actions/verify-changed-files@v20
        id: changed-files

      - name: List Changed Files
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.changed_files }}
        run: |
          echo "Changed files: $CHANGED_FILES"

      - name: Smoke Test
        if: steps.changed-files.outputs.files_changed == 'true'
        run: ./gradlew clean apiDump :bluesky:jvmTest :app:desktop:assemble --no-daemon --stacktrace

      - name: Update Lexicons Version
        if: steps.changed-files.outputs.files_changed == 'true'
        run: |
          LEXICONS_VERSION_NAME=$(date +%Y.%m.%d)
          echo "Publishing version $LEXICONS_VERSION_NAME"
          echo "LEXICONS_VERSION_NAME=$LEXICONS_VERSION_NAME" >> "$GITHUB_ENV"

          sed -i "s/^POM_VERSION=.*/POM_VERSION=$LEXICONS_VERSION_NAME/" lexicons/gradle.properties
          sed -i "s/sh\.christian\.ozone:lexicons:[0-9.]*/sh.christian.ozone:lexicons:$LEXICONS_VERSION_NAME/" README.md

      - name: Publish to Sonatype
        if: steps.changed-files.outputs.files_changed == 'true'
        env:
          SONATYPE_CENTRAL_USERNAME: ${{ secrets.SONATYPE_CENTRAL_USERNAME }}
          SONATYPE_CENTRAL_PASSWORD: ${{ secrets.SONATYPE_CENTRAL_PASSWORD }}
          ARTIFACT_SIGNING_PRIVATE_KEY: ${{ secrets.ARTIFACT_SIGNING_PRIVATE_KEY }}
          ARTIFACT_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.ARTIFACT_SIGNING_PRIVATE_KEY_PASSWORD }}
        run: |
          ORG_GRADLE_PROJECT_mavenCentralUsername="$SONATYPE_CENTRAL_USERNAME" \
          ORG_GRADLE_PROJECT_mavenCentralPassword="$SONATYPE_CENTRAL_PASSWORD" \
          ORG_GRADLE_PROJECT_signingInMemoryKey="$ARTIFACT_SIGNING_PRIVATE_KEY" \
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword="$ARTIFACT_SIGNING_PRIVATE_KEY_PASSWORD" \
          ./gradlew clean :lexicons:publish --no-daemon --stacktrace --dry-run

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        if: steps.changed-files.outputs.files_changed == 'true'
        with:
          commit_message: Update lexicons and bump version to ${{ env.LEXICONS_VERSION_NAME }}
